$red: #ff0000;
$grey: #f0f0f0;
$grey2: #fcfcfc;
$grey-burn:#a1a1a1;

body{
  max-width: 100%; 
}

section {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

li{
  list-style: none;
}

.red-text{
  color: $red;
}






   
  
  
  

  



  

  

